.page-header {
  height: 80px;
  padding-bottom: 0px !important;
  margin: 0px 0 0px !important;
  background-color: #00285D;
}

h3 {
  color: #EF3E33 !important;
  padding-bottom: 15px !important;
}

.casa-logo {
  padding-top: 27px;
  padding-left: 20px;
  width: 350px;
}

p.veld {
  padding-bottom: 10px;
}

.building {
  width: 100%;
}

.building-contact {
  width: 100%;
}

.panel-float {
  float: right;
}

.casa-font {
  font-weight: 500;
  color: #00285D;
}

.sub-content {
  padding-bottom: 15px;
}

.h-divider {
  padding-bottom: 25px;
  height:1px;
  width:100%;
  border-top:1px solid #CCCCCC;
}

.f-divider {
  padding-bottom: 5px;
  height:1px;
  width:100%;
  border-top:1px solid #CCCCCC;
}

.b-divider {
  padding-top: 5px;
  height:1px;
  width:100%;
  border-top:1px solid #CCCCCC;
}

.casa-contact {
  font-size: 75%;
  padding-left: 28px;
}

.panel {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

input.text {
  width: 80%;
  margin: 0.5%;
}

select.text {
  margin: 0.5%;
}

label.label-text {
  width: 10%;
  margin: 0.5%;
  font-weight: normal !important;
}

textarea.textarea {
  width: 80%;
  height: 40%;
  margin: 0.5%;
  border-color: #a0a0a0;
}

iframe {
  width: 100%;
  height: 90vh;
}

@media screen and (max-width: 1200px){
  iframe {
    width: 100%;
    height: 90vh;
  }
}

@media screen and (max-width: 500px){
  iframe {
    width: 100%;
    height: 90vh;
  }
}
